server/flows.json
[
    {
        "id": "fd50509a.52404",
        "type": "function",
        "z": "34ac9fca.fd089",
        "name": "default",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 373,
        "y": 304,
        "wires": [
            [
                "1e4042d2.e854fd"
            ]
        ]
    },
    {
        "id": "a28b25b6.d45828",
        "type": "function",
        "z": "34ac9fca.fd089",
        "name": "Praveen",
        "func": "msg.payload.response.milliseconds = 2400000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 359,
        "y": 131,
        "wires": [
            [
                "1e4042d2.e854fd"
            ]
        ]
    },
    {
        "id": "27cad2c.526eb2e",
        "type": "switch",
        "z": "34ac9fca.fd089",
        "name": "",
        "property": "payload.instance.username",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Praveen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "praveen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ajith",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ajith",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "shashi",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 6,
        "x": 156,
        "y": 209,
        "wires": [
            [
                "a28b25b6.d45828"
            ],
            [
                "a28b25b6.d45828"
            ],
            [
                "ff09b780.950a38"
            ],
            [
                "ff09b780.950a38"
            ],
            [
                "fb6790ea.c58b"
            ],
            [
                "fd50509a.52404"
            ]
        ]
    },
    {
        "id": "ff09b780.950a38",
        "type": "function",
        "z": "34ac9fca.fd089",
        "name": "Ajith",
        "func": "msg.payload.response.milliseconds = 1200000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 357,
        "y": 191,
        "wires": [
            [
                "1e4042d2.e854fd"
            ]
        ]
    },
    {
        "id": "ce343468.5d1b68",
        "type": "debug",
        "z": "34ac9fca.fd089",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload.hour",
        "x": 372,
        "y": 20,
        "wires": []
    },
    {
        "id": "1e4042d2.e854fd",
        "type": "function",
        "z": "34ac9fca.fd089",
        "name": "Finally",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 541.5,
        "y": 198,
        "wires": [
            [
                "7d6e136c.68b63c",
                "e9529a0e.063688"
            ]
        ]
    },
    {
        "id": "7d6e136c.68b63c",
        "type": "debug",
        "z": "34ac9fca.fd089",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.response",
        "x": 686.5,
        "y": 277,
        "wires": []
    },
    {
        "id": "fb6790ea.c58b",
        "type": "function",
        "z": "34ac9fca.fd089",
        "name": "shashi",
        "func": "if (msg.payload.hour >= 19 && msg.payload.hour <= 20) {\n    msg.payload.response.milliseconds = 900000;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 369.5,
        "y": 246,
        "wires": [
            [
                "1e4042d2.e854fd"
            ]
        ]
    },
    {
        "id": "e9529a0e.063688",
        "type": "custom-method-callback",
        "z": "34ac9fca.fd089",
        "name": "",
        "x": 688.5,
        "y": 118,
        "wires": []
    },
    {
        "id": "d9f6ce89.ddae7",
        "type": "custom-method",
        "z": "34ac9fca.fd089",
        "name": "getNextJob",
        "func": "msg.payload.response.username = msg.payload.instance.username;\nvar nowDate = new Date();\nvar hour = nowDate.getUTCHours();\nvar mins = nowDate.getUTCMinutes();\nhour = hour + 5;\nmins = mins + 30;\nif (mins >= 60) {\n    hour = hour + 1;\n    mins = mins - 60;\n}\nif (hour >= 24) {\n    hour = hour - 24;\n} \nmsg.payload.hour = hour;\nmsg.payload.mins = mins;\nreturn msg;",
        "modelname": "AppUser",
        "methodname": "getNextJob",
        "outputs": "1",
        "noerr": 0,
        "x": 99.5,
        "y": 39,
        "wires": [
            [
                "27cad2c.526eb2e",
                "ce343468.5d1b68"
            ]
        ]
    }
]