node_modules/oe-cloud/nodered/red_node-red-test-tenant-updated_5b4e055c.3134cc.json
[
  {
    "id": "f2978c55.016ab",
    "type": "async-observer",
    "z": "5b4e055c.3134cc",
    "name": "node-red-test-tenant-updated",
    "modelname": "Literal",
    "method": "access",
    "x": 162,
    "y": 191,
    "wires": [
      [
        "f5c48f2.d0e007"
      ]
    ],
    "callContext": {
      "ctx": {
        "tenantId": "default"
      }
    }
  },
  {
    "id": "f5c48f2.d0e007",
    "type": "function",
    "z": "5b4e055c.3134cc",
    "name": "node-red-test-tenant",
    "func": "console.log('******* test-tenant ********');\nvar loopback = global.get('loopback');\nvar literalModel = loopback.findModel('Literal');\nliteralModel.emit(\"notifyLiteral\", msg.callContext);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 439,
    "y": 165,
    "wires": [
      [
        "9a0d6af6.7e8ec8"
      ]
    ],
    "callContext": {
      "ctx": {
        "tenantId": "default"
      }
    }
  },
  {
    "id": "9a0d6af6.7e8ec8",
    "type": "debug",
    "z": "5b4e055c.3134cc",
    "name": "node-red-test-tenant",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 661,
    "y": 147,
    "wires": [],
    "callContext": {
      "ctx": {
        "tenantId": "default"
      }
    }
  },
  {
    "id": "5b4e055c.3134cc",
    "type": "tab",
    "label": "node-red-test-tenant-updated",
    "order": 0,
    "callContext": {
      "ctx": {
        "tenantId": "default"
      }
    }
  }
]